* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: rgb(206, 206, 206);
}

.header li {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    
    padding: 20px 0px;
    width: 33.33%;
}

.header li a {
    text-decoration: none;
    color: gray;
}

.navbar {
    overflow: hidden;
    background-color: gray;
    position: sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 0px;
    width: 16.66%;
    text-decoration: none;
}

.navbar a:hover {
    background-color: lightgray;
    color: gray;
}

.column1,
.column3 {
    float: left;
    width: 15%;
    padding: 15px;
}

.column2 {
    float: left;
    width: 70%;
    padding: 15px;
    background-color: rgb(245, 243, 243);
}