* {
    box-sizing: border-box;
    margin: 0;
}

#root {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    overflow: hidden;
    background-color: rgb(206, 206, 206);
    min-height: 55px;
}

.header li {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 20px 0px;
    width: 25%;
}

.header li a {
    text-decoration: none;
    color: gray;
}

.navbar {
    overflow: hidden;
    background-color: gray;
    position: sticky;
    top: 0;
    /* border-bottom: 1px solid rgb(146, 146, 146); */
    box-shadow: 0px 2px 3px black;
    min-height: 45px;
}

.navbar a {
    float: left;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 0px;
    width: 16.66%;
    text-decoration: none;
}

.navbar a:hover {
    background-color: lightgray;
    color: gray;
}

.news {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
}

.column1,
.column3 {
    padding: 15px;
    min-width: 15%;
    max-width: 15%;
}

.column2 {
    padding: 15px;
    background-color: rgb(245, 243, 243);
    margin-bottom: 40px;
}

.footer {
    background-color: rgb(206, 206, 206);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* border-top: 1px solid rgb(184, 182, 182); */
    box-shadow: 0px -1px 4px black;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

.footer li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.footer li a {
    text-decoration: none;
    color: black;
}

#year {
    float: right;
}

.column2 img {
    float: left;
    margin: 5px 10px 10px 0;
}